$spotifyGreen: #1ED760;
$topDivGradient: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(4,3,5)),
    color-stop(0.85, rgb(77, 77, 77))
);
$headerText: 'Work Sans', sans-serif;

.margin-top6em{
  margin-top: 6em;
}

.margin-top26em {
  margin-top: 26em;
}

.nav {
  font-family: $headerText;
  background-color: black;
  z-index: 9999;
  position: absolute;
  width:100% !important;
  height: 6em;
  opacity: 0.7;
  border-radius: 0;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0;
}
.nav-element {
  text-align: center;
  margin-top: 1.2em;
  font-size: 1.5em;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:visited {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: $spotifyGreen;
  text-decoration: none;
}


