.table {
  width:auto
}

.playlist-header{
  vertical-align: middle;
  z-index: 2;
}
.tester{
  z-index: 1;
}
.search-bar{
}

.search-bar-query{
  color: black;
  padding: 0;
  width:80%;
}

.search-bar-query:focus{
  outline-color: white
}

.sticky-container{
  height: 100vh;
  overflow: auto;
}

.sticky-block{
  position: sticky;
  top: 0px;
}

.button{
  margin:0px auto; //it will center them
}