.hide{
  display:invisible
}

.table {
  width:auto
}

.playlist-header{
  text-align: center;
  vertical-align: middle;
  z-index: 2;
  background: radial-gradient(rgba(255,255,255,1), rgba(0,0,0,0));
  border-radius: 5px;
  border: 2px solid;
  // background-color: $slightly-black;
}

.auto-size{
  font-size: 1vmax;
  text-align: center;
}

.search-bar-query{
  border: none;
  color:black;
}

.search-bar-query:focus{
  outline-color: white
}

.sticky-container{
  height: 100vh;
  overflow: auto;
}

.sticky-block{
  position: sticky;
  top: 0px;
}

.button{
  margin:0px auto; //it will center them
}

.active-playlist-form{
  max-width: 80%;
  margin: 0 auto;
  padding-top: 30%;
}

.join-active-playlist{
  display: flex;
  justify-content: space-around;
}

.active-list-header{
  font-size: 2vmax;
}

.active-playlists {
  margin: 0 auto;
  padding: 5px;
  max-width: 100%
}